.todolist {
  padding: 20px 30px;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #ded6c2;
  margin-right: 32px;
}

ul {
  padding-left: 0;
  list-style: none;
}

.error {
  font-style: italic;
  margin-top: 5px;
  color: tomato;
}

.error-input {
  outline: 2px solid tomato;
}

.active-btn {
  background-color: lightblue;
}

.is-done {
  opacity: 0.5;
}
