.App {
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
  padding: 30px;
  background-color: #d6d0d0;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  padding: 20px 30px;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #ded6c2;
}

ul {
  padding-left: 0;
  list-style: none;
}

.error {
  font-style: italic;
  margin-top: 5px;
  color: tomato;
}

.error-input {
  outline: 2px solid tomato;
}

.active-btn {
  background-color: lightblue;
}

.is-done {
  opacity: .5;
}
